<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Information</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>

    <script src="/timer/jquery.time-to.js"></script>
    <link href="/timer/timeTo.css" rel="stylesheet">



    <link href="/css/style.css" rel="stylesheet">
  </head>
  <!-- <iframe id="village" src="http://hacker-village.innolab.us/"> -->
  <body>
    <div id="hack_main">
    </div>
    <div class="timer_box">
      <div class="vertical_align">
        <img src="./image/logo.png">
        <div id="timer"></div>
      </div>
    </div>
    <div id="pizza">
      <img src="./image/pizza.png">
    </div>
    <div id="manito">
      <img src="./image/manito.png">
    </div>

    <script>
      var socket = io();

      socket.on('change',function(option){
        if(option=="timer"){
          $('#timer').css('visibility','visible');
          $('.timer_box').show();
          $('#pizza').hide();
          $('#manito').hide();
        }else if(option=="hack_main"){
          $('#timer').css('visibility','hidden');
          $('.timer_box').show();
          $('#pizza').hide();
          $('#manito').hide();
        }else if(option=="pizza"){
          $('.timer_box').hide();
          $('#pizza').show();
          $('#timer').css('visibility','hidden');
          $('#manito').hide();
        }else if(option=="manito"){
          $('.timer_box').hide();
          $('#pizza').hide();
          $('#timer').css('visibility','hidden');
          $('#manito').show();
        }
      })

      $('#timer').timeTo({
        timeTo: new Date(new Date('Sep 7 2018 09:00:00 GMT+0900 (한국 표준시)')),
        theme: "black",
        displayCaptions: true,
        fontSize: 200,
        captionSize: 25
      });


    </script>
  </body>
</html>
